---
import { Button } from "@openmarch/ui";
import {
    GithubLogoIcon,
    LinkedinLogoIcon,
    BehanceLogoIcon,
    YoutubeLogoIcon,
    InstagramLogoIcon,
    FacebookLogoIcon,
} from "@phosphor-icons/react";
import { Image } from "astro:assets";
import alexPfp from "@/assets/pfps/alex.png";
import aleksiPfp from "@/assets/pfps/aleksi.png";
import benPfp from "@/assets/pfps/ben.png";
import jacobPfp from "@/assets/pfps/jacob.png";
import trevorPfp from "@/assets/pfps/trevor.png";
import markPfp from "@/assets/pfps/mark.png";
import oliviaPfp from "@/assets/pfps/olivia.jpg";
import johnPfp from "@/assets/pfps/john.png";
import dhruvaPfp from "@/assets/pfps/dhruva.png";
---

<div class="flex flex-col items-center gap-24">
    <div class="w-[512px] max-[600px]:w-full flex flex-col items-center gap-16">
        <h1 class="text-h2 text-center">The team behind OpenMarch</h1>
        <p class="text-center text-body text-text">
            We're a team of passionate drum corps alumni and lovers of music and
            the marching arts, working to make drill design easier and more
            accessible.
        </p>
    </div>

    <div
        class="grid grid-cols-3 gap-8 max-[920px]:grid-cols-2 max-[600px]:grid-cols-1"
    >
        <div
            class="flex flex-col gap-8 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={alexPfp}
                alt="Alex Dumouchelle"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Alex Dumouchelle</h3>
            <h4 class="text-h4">Founder & lead developer</h4>
            <p class="text-body">
                Alex, an alumnus of The Cadets, oversees all of the project's
                operations and leads the development effort.
            </p>

            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="/about/alexdumo"
                >
                    <Button variant="secondary" size="compact">
                        More about Alex
                    </Button>
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://github.com/AlexDumo"
                >
                    <GithubLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.linkedin.com/in/AlexDumo/"
                >
                    <LinkedinLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.youtube.com/@alexdumouchelle3744"
                >
                    <YoutubeLogoIcon size={24} />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-8 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={aleksiPfp}
                alt="Aleksi Saario"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Aleksi Saario</h3>
            <h4 class="text-h4">Marketing manager</h4>
            <p class="text-body">
                Aleksi manages marketing, social media accounts, and our merch.
            </p>
            <a
                target="_blank"
                class="hover:text-accent duration-150 w-fit"
                href="https://www.instagram.com/aleksifilms/"
            >
                <InstagramLogoIcon size={24} />
            </a>
        </div>
        <div
            class="flex flex-col gap-8 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={benPfp}
                alt="Ben Moulse"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Ben Moulse</h3>
            <h4 class="text-h4">Graphic designer</h4>
            <p class="text-body">
                Ben creates the brand identity and assists with the marketing of
                the project.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.linkedin.com/in/ben-moulse/"
                >
                    <LinkedinLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.behance.net/Moulse"
                >
                    <BehanceLogoIcon size={24} />
                </a>
            </div>
        </div>

        <div
            class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={oliviaPfp}
                alt="Olivia Dumouchelle"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Olivia Dumouchelle</h3>
            <h4 class="text-h4">Head of Public Relations</h4>
            <p class="text-body">
                Olivia manages social medias while also coordinating public
                events such as conferences.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.instagram.com/oliviadumouchelle_/"
                >
                    <InstagramLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.facebook.com/olivia.ellsworth.92/"
                >
                    <FacebookLogoIcon size={24} />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-8 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={jacobPfp}
                alt="Jacob Ehlert"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Jacob Ehlert</h3>
            <h4 class="text-h4">UI designer & front-end dev</h4>
            <p class="text-body">
                Jacob designs the UI and visual identity for the app and website
                and contributes to front-end development.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://dukc.dev"
                >
                    <Button variant="secondary" size="compact">
                        Website
                    </Button>
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://github.com/dukcc"
                >
                    <GithubLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.instagram.com/dukkcc0"
                >
                    <InstagramLogoIcon size={24} />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-8 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={trevorPfp}
                alt="Trevor Schachner"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Trevor Schachner</h3>
            <h4 class="text-h4">Product manager</h4>
            <p class="text-body">
                Trevor is a product manager, designer, teacher, and co-founder
                of Bright Designs, working with dozens of bands and drum corps
                across the country.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.brightdesigns.band"
                >
                    <Button variant="secondary" size="compact">
                        Bright Designs
                    </Button>
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={markPfp}
                alt="Mark Shelton"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Mark Shelton</h3>
            <h4 class="text-h4">Business development/product research</h4>
            <p class="text-body">
                Mark is involved in business development and marketing, with a
                recent focus on product research to guide and provide feedback
                for product development.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.linkedin.com/in/mark-shel"
                >
                    <LinkedinLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="
                    https://www.instagram.com/mark_shelton05"
                >
                    <InstagramLogoIcon size={24} />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={johnPfp}
                alt="John Bostick"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">John Bostick</h3>
            <h4 class="text-h4">Front-end & back-end dev</h4>
            <p class="text-body">
                John does both front-end and back-end development for
                OpenMarch's app and website.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://johnbostick.com"
                >
                    <Button variant="secondary" size="compact">
                        Website
                    </Button>
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://github.com/JohnBostick"
                >
                    <GithubLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.linkedin.com/in/john-bostick/"
                >
                    <LinkedinLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.youtube.com/@johnodondev"
                >
                    <YoutubeLogoIcon size={24} />
                </a>
            </div>
        </div>
        <div
            class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <Image
                src={dhruvaPfp}
                alt="Dhruva Chakravarthi"
                width={128}
                height={128}
                quality={80}
                format="webp"
                class="rounded-full size-96 border border-stroke"
            />
            <h3 class="text-h3">Dhruva Chakravarthi</h3>
            <h4 class="text-h4">Core software engineer</h4>
            <p class="text-body">
                Dhruva—a Jersey Surf alumnus—develops core packages, optimizes
                performance, and builds new features.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://github.com/dhruvachakravarthi"
                >
                    <GithubLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://www.linkedin.com/in/dhruvachakravarthi/"
                >
                    <LinkedinLogoIcon size={24} />
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="
                    https://www.instagram.com/dhruvachakravarthi"
                >
                    <InstagramLogoIcon size={24} />
                </a>
            </div>
        </div>
        <!-- div
            class="flex flex-col gap-12 rounded-6 bg-fg-1 border border-stroke p-16"
        >
            <div class="rounded-full size-96 border border-stroke"></div>
            <h3 class="text-h3">Your Name</h3>
            <p class="text-body">
                Contribute to our codebase and work your way up to becoming a
                maintainer, or shoot us an email about other positions.
            </p>
            <div class="flex flex-wrap items-center gap-12">
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="https://github.com/OpenMarch/OpenMarch"
                >
                    <Button variant="secondary" size="compact">
                        Contribute
                    </Button>
                </a>
                <a
                    target="_blank"
                    class="hover:text-accent duration-150"
                    href="mailto:contact@openmarch.com"
                >
                    <Button variant="secondary" size="compact"> Email </Button>
                </a>
            </div>
        </div -->
    </div>
</div>
