---
import { getCollection, render, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { ProseClass } from "@/components/ProseClass";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <article
        class="flex relative max-w-[50rem] w-full flex-col items-center gap-16"
    >
        <Image
            src={post.data.image}
            width={1280}
            height={720}
            alt={post.data.title}
            class="aspect-video h-auto w-full rounded-6 border border-stroke object-cover"
        />
        <div
            class="absolute top-[10vh] left-1/2 -z-50 w-full aspect-video h-auto -translate-x-1/2"
            style="background: radial-gradient(ellipse, oklch(from var(--color-accent) l c h / 0.3) 0%, transparent 70%);"
        >
        </div>
        <h1 class="text-h3 text-center">{post.data.title}</h1>
        <div class="flex gap-16">
            <p class="text-body">{post.data.author}</p>
            <p class="text-body">
                {
                    post.data.date.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                        timeZone: "UTC",
                    })
                }
            </p>
        </div>
        <div class={ProseClass}><Content /></div>
    </article>
</Layout>
