---
import { Badge, Button } from "@openmarch/ui";
import { Image } from "astro:assets";

import shapesDark from "@/assets/desktop/shapesdark.png";
import shapesLight from "@/assets/desktop/shapeslight.png";
import tagsDark from "@/assets/desktop/tagsdark.png";
import tagsLight from "@/assets/desktop/tagslight.png";
import fieldDark from "@/assets/desktop/fielddark.png";
import fieldLight from "@/assets/desktop/fieldlight.png";
import viewVertDark from "@/assets/otm/viewvertdark.png";
import viewVertLight from "@/assets/otm/viewvertlight.png";
import drillchart from "@/assets/desktop/drillchart.png";
---

<section class="flex flex-col gap-8" id="desktop">
    <Badge>Desktop</Badge>
    <h1 class="text-text text-[3.5rem]">The free, modern drill writing app</h1>
    <section class="grid grid-cols-2 grid-rows-2 gap-16">
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-24 flex flex-col gap-16"
        >
            <h3 class="text-h3 leading-none">Intuitive design</h3>
            <p class="text-body leading-relaxed text-text-subtitle">
                Add in your field/floor, create music measures, and fluidly
                write drill in one beautiful workspace.
            </p>

            <Image
                src={shapesDark}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
            <Image
                src={shapesLight}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
        </div>
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-24 flex flex-col gap-16"
        >
            <h3 class="text-h3 leading-none">Open source core</h3>
            <p class="text-body leading-relaxed text-text-subtitle">
                Built by the community, anyone can submit and fix issues, and
                contribute their ideas and features.
            </p>

            <Image
                src={tagsDark}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
            <Image
                src={tagsLight}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
        </div>
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-24 flex flex-col gap-16"
        >
            <h3 class="text-h3 leading-none">Free & easy to use</h3>
            <p class="text-body leading-relaxed text-text-subtitle">
                OpenMarch Desktop App will always stay free and easy to use,
                making drill writing accessible to all.
            </p>

            <Image
                src={fieldDark}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="hidden dark:block border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
            <Image
                src={fieldLight}
                alt="App Screenshot"
                width={1328}
                height={800}
                format="webp"
                quality={80}
                class="block dark:hidden border border-stroke h-full w-full rounded-6 object-center object-cover"
            />
        </div>
        <div
            class="bg-fg-1 border border-stroke rounded-6 p-24 flex flex-col gap-16 relative overflow-clip"
        >
            <h3 class="text-h3 leading-none">To your rehearsal</h3>
            <p class="text-body leading-relaxed text-text-subtitle">
                Export your drill to PDF as drill charts and coordinate sheets
                for performers. Upload your drill to OpenMarch: On The Move for
                a digital drill viewing experience.
            </p>

            <span
                class="absolute flex items-center -bottom-72 w-full justify-center"
            >
                <span class="z-3">
                    <Image
                        src={viewVertDark}
                        alt="OTM Screenshot"
                        width={384}
                        height={786}
                        format="webp"
                        quality={80}
                        class="hidden dark:block aspect-384/786 h-393 w-auto object-center object-cover"
                    />
                    <Image
                        src={viewVertLight}
                        alt="OTM Screenshot"
                        width={384}
                        height={786}
                        format="webp"
                        quality={80}
                        class="block dark:hidden aspect-384/786 h-393 w-auto object-center object-cover"
                    />
                </span>

                <Image
                    src={drillchart}
                    alt="drill chart Screenshot"
                    width={576}
                    height={444}
                    format="webp"
                    quality={80}
                    class="aspect-288/222 h-222 -ml-48 z-2 w-auto object-center object-cover"
                />
            </span>
        </div>
    </section>
    <div
        class="p-32 flex justify-between items-center border border-accent rounded-full"
    >
        <h1 class="text-h1">Download for free</h1>
        <a href="/download"><Button>Download</Button></a>
    </div>
</section>
