---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/Button";
import LinkButton from "@/components/ui/LinkButton.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const blogs = await getCollection("blog");
---

<Layout title="Home">
    <div class="flex flex-col gap-64 p-64">
        <section
            id="landing"
            class="relative flex h-[80vh] flex-col justify-center gap-32"
        >
            <div class="flex max-w-[60%] flex-col gap-24">
                <code class="font-mono text-[1.25rem] text-accent">v0.0.4</code>
                <h1 class="text-[96px] leading-[130%]">
                    Free & open-source drill writing software
                </h1>
                <div class="flex gap-32">
                    <p class="text-body">
                        Fast and intuitive drill writing experience for marching
                        band, indoor ensembles, drum corp, or anything else
                    </p>
                </div>
                <div class="flex gap-8">
                    <a href="/download">
                        <Button>Download</Button>
                    </a>
                    <a href="/#drill-writing">
                        <Button variant="secondary">Learn More</Button>
                    </a>
                    <a href="https://github.com/OpenMarch/OpenMarch">
                        <Button variant="secondary">GitHub</Button>
                    </a>
                    <a href="https://discord.gg/eTsQ98uZzq">
                        <Button variant="secondary">Discord</Button>
                    </a>
                </div>
            </div>
            <div
                class="absolute right-[-20%] top-1/2 -z-40 aspect-[1408/731] h-auto w-[64vw] -translate-y-1/2 bg-[url('/landing/land-light.png')] bg-cover dark:bg-[url('/landing/land-dark.png')]"
            >
            </div>
            <div
                class="absolute bottom-0 left-0 -z-50 h-[18vw] w-[22vw] bg-accent opacity-40 blur-[512px]"
            >
            </div>
        </section>
        <section
            id="drill-writing"
            class="relative flex h-screen flex-col justify-center gap-32"
        >
            <div class="flex max-w-[42%] flex-col gap-24">
                <h1 class="text-[96px] leading-[130%]">Drill writing</h1>
                <p class="text-body">
                    Create lines, shapes, and align your marchers with ease,
                    quickly.
                </p>
            </div>
            <div
                class="absolute right-[-10%] top-1/2 -z-40 aspect-[1408/731] h-auto w-[64vw] -translate-y-1/2 bg-[url('/landing/drill-write-light.png')] bg-cover dark:bg-[url('/landing/drill-write-dark.png')]"
            >
            </div>
            <div
                class="absolute bottom-0 left-1/2 -z-50 h-[18vw] w-[22vw] -translate-x-1/2 bg-accent opacity-40 blur-[512px]"
            >
            </div>
        </section>
        <section
            id="music"
            class="relative flex h-screen flex-col justify-center gap-32"
        >
            <div class="flex max-w-[42%] flex-col gap-24">
                <h1 class="text-[96px] leading-[130%]">Music integration</h1>
                <p class="text-body">
                    Import your MusicXML and audio files to have your measures
                    and music inside the program, ready for you to write drill
                    on top of.
                </p>
            </div>
            <div
                class="absolute right-[-10%] top-1/2 -z-40 aspect-[1408/731] h-auto w-[64vw] -translate-y-1/2 bg-[url('/landing/music-light.png')] bg-cover dark:bg-[url('/landing/music-dark.png')]"
            >
            </div>
            <div
                class="absolute bottom-0 right-0 -z-50 h-[18vw] w-[22vw] bg-accent opacity-40 blur-[512px]"
            >
            </div>
        </section>
        <section id="features" class="grid grid-cols-6 gap-32">
            <div
                class="col-span-2 flex flex-col items-center gap-24 rounded-6 border border-stroke bg-fg-1 p-48"
            >
                <i class="ph ph-arrow-square-out text-[2.25rem]"></i>
                <h1 class="text-center text-h1">Exporting</h1>
                <p class="text-center text-body leading-[150%]">
                    Export coordinates for each marcher to PDF, with multiple
                    options to customize the output format.
                </p>
            </div>
            <div
                class="col-span-2 flex flex-col items-center gap-24 rounded-6 border border-stroke bg-fg-1 p-48"
            >
                <i class="ph ph-rectangle text-[2.25rem]"></i>
                <h1 class="text-center text-h1">Field Types</h1>
                <p class="text-center text-body leading-[150%]">
                    Toggle grid lines, toggle end zones, and switch between high
                    school, college, or pro.
                </p>
            </div>
            <div
                class="col-span-2 flex flex-col items-center gap-24 rounded-6 border border-stroke bg-fg-1 p-48"
            >
                <i class="ph ph-app-window text-[2.25rem]"></i>
                <h1 class="text-center text-h1">Fast & Modern</h1>
                <p class="text-center text-body leading-[150%]">
                    OpenMarch is a cross platform desktop app built to be fast,
                    modern, and beautiful.
                </p>
            </div>
            <div
                class="col-span-3 flex flex-col items-center gap-24 rounded-6 border border-stroke bg-fg-1 p-48"
            >
                <i class="ph ph-git-merge text-[2.25rem]"></i>
                <h1 class="text-center text-h1">Free & Open Source</h1>
                <p class="text-center text-body leading-[150%]">
                    We will always stay free, fast, and simple. You’ll never
                    have to worry about paying or privacy.
                </p>
            </div>
            <div
                class="col-span-3 flex flex-col items-center gap-24 rounded-6 border border-stroke bg-fg-1 p-48"
            >
                <h4 class="font-mono text-h4 text-accent">v0.0.4</h4>
                <h1 class="text-center text-h1">Alpha Software</h1>
                <p class="text-center text-body leading-[150%]">
                    OpenMarch is still in development, expect some bugs or
                    issues here and there, and keep in mind we're still planning
                    to add many more features. Please report bugs or give
                    feedback in the <a
                        href="https://github.com/OpenMarch/OpenMarch"
                        class="text-accent">GitHub repo</a
                    > or <a
                        href="https://discord.gg/eTsQ98uZzq"
                        class="text-accent">Discord</a
                    >.
                </p>
            </div>
        </section>
        <section
            id="download"
            class="flex items-center justify-between rounded-6 border border-accent px-96 py-48"
        >
            <div class="flex-col gap-16">
                <h1 class="text-h1">Download</h1>
                <p class="text-left text-body leading-[150%]">
                    Try out the only modern, free & open source drill writing
                    app.
                </p>
            </div>
            <div class="flex flex-wrap gap-24">
                <LinkButton href="/download" label="Download" />
            </div>
        </section>
        <section
            id="contribute"
            class="flex items-center justify-between rounded-6 border border-accent px-96 py-48"
        >
            <div class="flex-col gap-16">
                <h1 class="text-h1">Contribute</h1>
                <p class="text-left text-body leading-[150%]">
                    We need help building this app. If you’re able to help,
                    please take a look at the contributing docs. <br />
                    <strong>If you’re a drill writer</strong>, please test out
                    the app, and give feedback!
                </p>
            </div>
            <div class="flex flex-wrap gap-24">
                <LinkButton href="/docs/contributing" label="Contribute" />
                <LinkButton
                    href="https://github.com/OpenMarch"
                    label="GitHub"
                />
            </div>
        </section>
        <section id="blogs" class="flex flex-col gap-16">
            <div class="flex justify-between">
                <h1 class="text-h1">Blog</h1><a href="/blog"
                    ><Button>See all posts</Button></a
                >
            </div>
            <div class="grid grid-cols-3 gap-32">
                {
                    blogs.map((blog) => (
                        <a
                            href={`/blog/${blog.slug}`}
                            class="flex flex-col gap-16 rounded-6 border border-stroke bg-fg-1 p-32 duration-150 ease-out hover:border-accent"
                        >
                            <Image
                                src={blog.data.image}
                                width={670}
                                height={420}
                                alt={blog.data.summary}
                                class="aspect-video h-auto w-full rounded-6 border border-stroke"
                            />
                            <div class="flex w-full flex-col gap-16">
                                <h2 class="w-full text-h2">
                                    {blog.data.title}
                                </h2>
                                <p class="w-full text-body leading-[150%]">
                                    {blog.data.summary}
                                </p>
                                <p class="w-full text-body leading-[150%]">
                                    by {blog.data.author}
                                </p>
                                <p class="w-full text-body leading-[150%]">
                                    {blog.data.date}
                                </p>
                            </div>
                        </a>
                    ))
                }
            </div>
        </section>
    </div>
</Layout>
