---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/Button";
import LinkButton from "@/components/ui/LinkButton.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import FeatureSelector from "@/components/home/FeatureSelector";

const blogs = await getCollection("blog");
type Blog = CollectionEntry<"blog">;
---

<Layout title="Home">
    <script>
        import { Observer } from "tailwindcss-intersect";

        Observer.start();
    </script>
    <div class="flex flex-col gap-64 p-64 max-[750px]:p-24">
        <section
            id="landing"
            class="relative flex h-[80vh] flex-col justify-center gap-32 max-[950px]:justify-start"
        >
            <div
                class="flex max-w-[60%] flex-col gap-24 max-[950px]:max-w-full"
            >
                <code class="font-mono text-[1.25rem] text-accent">v0.0.5</code>
                <h1
                    class="text-[96px] leading-[130%] intersect:motion-preset-slide-up max-[1450px]:text-[64px] max-[750px]:text-[48px]"
                >
                    Free & open-source drill writing software
                </h1>
                <div class="flex gap-32">
                    <p class="text-body">
                        OpenMarch is a free, open-source, fast and intuitive
                        drill writing experience for all marching arts.
                    </p>
                </div>
                <div class="flex flex-wrap gap-8">
                    <a href="/download">
                        <Button>Download</Button>
                    </a>
                    <a href="/#features">
                        <Button variant="secondary">Learn More</Button>
                    </a>
                </div>
                <div
                    class="absolute right-[-20%] top-1/2 -z-40 aspect-[1408/731] h-auto w-[64vw] -translate-y-1/2 bg-[url('/landing/land-light.png')] bg-cover intersect:motion-preset-slide-up dark:bg-[url('/landing/land-dark.png')] max-[950px]:relative max-[950px]:right-0 max-[950px]:top-0 max-[950px]:mt-32 max-[950px]:w-full max-[950px]:translate-y-0"
                >
                </div>
            </div>
            <div
                class="absolute bottom-0 left-0 -z-50 h-[18vw] w-[22vw] rounded-full bg-accent opacity-40 blur-[512px]"
            >
            </div>
        </section>
        <FeatureSelector client:load />
        <section class="flex flex-col gap-72 px-128 max-[1300px]:px-0">
            <div class="flex flex-col gap-24">
                <div
                    id="warning"
                    class="flex w-full flex-col gap-16 rounded-6 border border-stroke p-24"
                >
                    <div class="flex items-center gap-8">
                        <i class="ph ph-warning text-[1.5rem] text-yellow"></i>
                        <h3 class="text-h3">Alpha Software</h3>
                    </div>
                    <p class="text-body">
                        OpenMarch is still in development. You probably will
                        encounter bugs, issues, and missing features. Help
                        support us grow by contributing or donating!
                    </p>
                </div>
                <div class="grid grid-cols-3 gap-24 max-[1000px]:grid-cols-1">
                    <div
                        id="download"
                        class="flex flex-col gap-16 rounded-6 border border-accent p-32"
                    >
                        <i
                            class="ph ph-download-simple text-[2.5rem] text-accent"
                        ></i>
                        <h2 class="text-h2">Download</h2>
                        <p class="text-body">
                            Try out the modern drill writing app.
                        </p>

                        <a href="/download">
                            <Button variant="primary">Download</Button>
                        </a>
                    </div>
                    <div
                        id="donate"
                        class="flex flex-col gap-16 rounded-6 border border-accent p-32"
                    >
                        <i class="ph ph-patreon-logo text-[2.5rem] text-accent"
                        ></i>
                        <h2 class="text-h2">Become a Patreon</h2>
                        <p class="text-body">
                            Help us grow, stay free, and support our team! Get
                            access to exclusive content and benefeits.
                        </p>
                        <a href="https://www.patreon.com/openmarch">
                            <Button variant="primary">Patreon</Button>
                        </a>
                    </div>
                    <div
                        id="contribute"
                        class="flex flex-col gap-16 rounded-6 border border-accent p-32"
                    >
                        <i class="ph ph-git-fork text-[2.5rem] text-accent"></i>
                        <h2 class="text-h2">Contribute</h2>
                        <p class="text-body">
                            Help us build the modern drill writing app.
                        </p>
                        <a href="https://github.com/OpenMarch/OpenMarch">
                            <Button variant="primary">GitHub</Button>
                        </a>
                    </div>
                </div>
                <div
                    id="community"
                    class="flex w-full flex-col gap-16 rounded-6 border border-stroke p-24"
                >
                    <h2 class="text-h2">Community</h2>
                    <p class="text-body">
                        Make sure to share feedback, get help, and get updates
                        within our Discord & GitHub community, and our
                        newsletter.
                    </p>
                    <div class="flex gap-8">
                        <a href="https://discord.gg/eTsQ98uZzq">
                            <Button variant="secondary">Discord</Button>
                        </a>
                        <a href="https://github.com/OpenMarch/OpenMarch">
                            <Button variant="secondary">GitHub</Button>
                        </a>
                    </div>
                </div>
            </div>
            <section id="blogs" class="flex flex-col gap-16">
                <div class="flex justify-between">
                    <h1 class="text-h1">Blog</h1><a href="/blog"
                        ><Button>See all posts</Button></a
                    >
                </div>
                <div
                    class="grid grid-cols-3 gap-24 max-[1200px]:grid-cols-2 max-[850px]:grid-cols-1"
                >
                    {
                        blogs
                            .sort(
                                (a, b) =>
                                    new Date(b.data.date).getTime() -
                                    new Date(a.data.date).getTime(),
                            )
                            .slice(0, 3)
                            .map((blog: Blog) => (
                                <a
                                    href={`/blog/${blog.slug}`}
                                    class="flex flex-col gap-16 rounded-6 border border-stroke bg-fg-1 p-32 duration-150 ease-out hover:border-accent"
                                >
                                    <Image
                                        src={blog.data.image}
                                        width={670}
                                        height={420}
                                        alt={blog.data.title}
                                        class="aspect-video h-auto w-full rounded-6 border border-stroke object-cover"
                                    />
                                    <div class="flex w-full flex-col gap-16">
                                        <h2 class="w-full text-h2">
                                            {blog.data.title}
                                        </h2>
                                        <p class="w-full text-body leading-[150%]">
                                            by {blog.data.author}
                                        </p>
                                        <p class="w-full text-body leading-[150%]">
                                            {blog.data.date.toLocaleDateString(
                                                "en-US",
                                                {
                                                    year: "numeric",
                                                    month: "long",
                                                    day: "numeric",
                                                    timeZone: "UTC",
                                                },
                                            )}
                                        </p>
                                    </div>
                                </a>
                            ))
                    }
                </div>
            </section>
        </section>
    </div>
</Layout>
